div[data-element-type="Pure.Post.Title.A"]{
    position    :relative;
    height      :2em;
    width       :100%;
}
    div[data-element-type="Pure.Post.Title.A.Line"]{
        position    :absolute;
        top         :1em;
        left        :0;
        height      :1em;
        width       :100%;
        border-top  : dotted 1px rgb(140, 148, 170);
    }
    p[data-element-type="Pure.Post.Title.A"],
    a[data-element-type="Pure.Post.Title.A"]{
        position        :absolute;
        font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size       :1em;
        margin          :0 0 0 1.5em;
        padding         :0.5em 0.5em 0.5em 0.5em;
        color           :rgb(30,30,30);
        text-shadow     :0 0 2px rgba(0,0,0,0.4);
        font-weight     :bold;
        line-height     :1em;
        cursor          :default;
        white-space     :nowrap;
        background      :rgba(255,255,255,1);
        text-decoration :none;
    }
    a[data-element-type="Pure.Post.Title.A"]{
        cursor:pointer;
    }
    a[data-element-type="Pure.Post.Title.A"]:hover{
        text-decoration:underline;
    }
    p[data-element-type="Pure.Post.Title.A"][data-element-align="Right"],
    a[data-element-type="Pure.Post.Title.A"][data-element-align="Right"]{
        right       :0;
    }
    a[data-element-type="Pure.Post.Title.A.Link"]{
        position            :absolute;
        font-family         :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size           :1em;
        right               :0em;
        padding             :0.5em 0.5em 0.5em 0.5em;
        color               :rgb(150,150,150);
        line-height         :1em;
        cursor              :default;
        background          :rgba(255,255,255,1);
        cursor              :pointer;
        text-decoration     :none;
        -moz-transition     : color ease-in-out 350ms; 
        -o-transition       : color ease-in-out 350ms;
        -webkit-transition  : color ease-in-out 350ms;
        transition          : color ease-in-out 350ms;
    }
        a[data-element-type="Pure.Post.Title.A.Link"]:hover{
            color           :rgb(100,100,100);
        }
        a[data-element-type="Pure.Post.Title.A.Link"][href=""]{
            display: none;
        }
