div[data-element-type="Pure.Title.E"]{
    position:relative;
    width   :100%;
    overflow:hidden;
}
    div[data-element-type="Pure.Title.E"]:after{
        content : '';
        display : block;
        clear   : both;
    }
    div[data-element-type="Pure.Title.E.Container"]{
        position: relative;
        right   : 50%;
        float   : right;
    }
    p[data-element-type="Pure.Title.E"],
    a[data-element-type="Pure.Title.E"]{
        position        :relative;
        display         :inline-block;
        font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size       :1em;
        text-transform  :uppercase;
        text-align      :center;
        color           : rgb(91, 105, 145);
        z-index         : 1;
        right           : -50%;
        margin          :0;
        padding         :0;
        text-decoration : none;
    }
        p[data-element-type="Pure.Title.E"]:before,
        a[data-element-type="Pure.Title.E"]:before{
            position    :absolute;
            content     :'';
            width       :10000px;
            height      :1px;
            /*
            border      :1px dotted rgb(91, 105, 145);
                */
            background  :rgb(140, 148, 170);
            left        :-10000px;
            top         :50%;
            margin-left :-1em;
        }
        p[data-element-type="Pure.Title.E"]:after,
        a[data-element-type="Pure.Title.E"]:after{
            position    :absolute;
            content     :'';
            width       :10000px;
            height      :1px;
            background  :rgb(140, 148, 170);
            left        :100%;
            top         :50%;
            margin-left :1em;
        }
    p[data-element-type="Pure.Title.E"][data-addition-type="shadow"],
    a[data-element-type="Pure.Title.E"][data-addition-type="shadow"]{
        font-size       :0.8em;
        color           : rgb(140, 148, 170);
    }