div[data-element-type="Pure.Title.H"]{
    position:relative;
    width   :100%;
    overflow:hidden;
}
    div[data-element-type="Pure.Title.H"]:after{
        content : '';
        display : block;
        clear   : both;
    }
    div[data-element-type="Pure.Title.H.Container"]{
        position: relative;
        right   : 50%;
        float   : right;
    }
    p[data-element-type="Pure.Title.H"],
    a[data-element-type="Pure.Title.H"]{
        position        :relative;
        display         :inline-block;
        font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size       :2rem;
        text-align      :center;
        color           : rgb(50, 50, 50);
        z-index         : 1;
        right           : -50%;
        margin          :2rem 0 2rem 0;
        padding         :0;
        text-decoration : none;
    }
    p[data-element-type="Pure.Title.H"][data-addition-type="shadow"],
    a[data-element-type="Pure.Title.H"][data-addition-type="shadow"]{
        font-size       :0.8em;
        color           : rgb(140, 148, 170);
    }