article[data-post-element-type="Pure.Posts.Layout.AShort.Container"]{
    position    : relative;
    width       : 100%;
    overflow    : hidden;
}
    div[data-post-element-type="Pure.Posts.Layout.AShort.Content"]{
        position        : relative;
        padding-left    : 1em;
    }
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
