article[data-post-element-type="Pure.Posts.Layout.A.Container"]{
    position            : relative;
}
    div[data-post-element-type="Pure.Posts.Layout.A.Title"]{
        position: relative;
    }
    div[data-post-element-type="Pure.Posts.Layout.A.SubContainer"]{
        position            : relative;
        display             : table;
        width               : 100%;
    }

    div[data-post-element-type="Pure.Posts.Layout.A.Author"]{
        position        : relative;
        display         : table-cell;
        width           : 10em;
        max-width       : 10em;
        vertical-align  : top;
    }
    div[data-post-element-type="Pure.Posts.Layout.A.Content.Container"]{
        position        : relative;
        display         : table-cell;
        width           : auto;
        vertical-align  : top;
    }
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
