div[data-type-element="Group.Thumbnail.A.Top.Container"]{
    position	:relative;
    padding     : 0.5em 0.5em;
}
/*====================================================================================================================================*/
img[data-type-element="Group.Thumbnail.A.Top.Icon"]{
    position    :relative;
    display     :block;
    width       :7em;
    height      :5em;
    left        :50%;
    margin-left :-3.5em;
}
div[data-type-element="Group.Thumbnail.A.Top.Members"]{
    position    :relative;
    width       :7em;
    height      :2em;
    left        :50%;
    margin-left :-3.5em;
    margin-top  :-1em;
}
a[data-type-element="Group.Thumbnail.A.Top.Member"]{
    position    :relative;
    display     :block;
    width       :2em;
    height      :2em;
    float       :left;
    margin-right:0.5em;
}
a[data-type-element="Group.Thumbnail.A.Top.Member"]:last-child{
    margin-right:0;
}
img[data-type-element="Group.Thumbnail.A.Top.Member"]{
    position    :relative;
    display     :block;
    width       :2em;
    height      :2em;
    border          : none;
    background      : none;
}
/*====================================================================================================================================*/
div[data-type-element="Group.Thumbnail.A.Top.Info"]{
    position:relative;
    width   :100%;
}
a[data-type-element="Group.Thumbnail.A.Top.Name"]{
    position            :relative;
    display             :block;
    font-family         :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size           :1em;
    padding             :0.5em 0.5em 0.3em 0.5em;
    margin              :0;
    color               :rgb(100,100,100);
    line-height         :1em;
    cursor              :pointer;
    text-align          :center;
    text-decoration     :none;
}
a[data-type-element="Group.Thumbnail.A.Top.Name"]:hover{
    color               :rgb(30,30,30);
}
a[data-type-element="Group.Thumbnail.A.Top.Members"]{
    position            :relative;
    display             :block;
    font-family         :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size           :0.7em;
    padding             :0.3em;
    margin              :0;
    color               :rgb(100,100,100);
    line-height         :1em;
    cursor              :pointer;
    text-align          :center;
    text-decoration     :none;
    border              : none;
    outline             : none;
    background          : none;
}
p[data-type-element="Group.Thumbnail.A.Top.Discription"]{
    position            :relative;
    display             :block;
    font-family         :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size           :0.7em;
    padding             :0.3em;
    margin              :0;
    color               :rgb(100,100,100);
    line-height         :1.5em;
    cursor              :default;
    text-align          :center;
    font-style:italic;
}
/*====================================================================================================================================*/
div[data-type-element="Group.Thumbnail.A.Container"]{
    position	    :relative;
    padding         : 0.5em 0.5em;
    margin-bottom   :1em;
}
div[data-type-element="Group.Thumbnail.A.Container"]:before{
    position	:absolute;
    content     :"";
    top         :-0.5em;
    left        :-0.5em;
    bottom      :0;
    right       :-0.5em;
    background  :rgb(255,255,255);
}
div[data-type-element="Group.Thumbnail.A.Container"]:after{
    position	:absolute;
    content     :"";
    top         :100%;
    width       :100%;
    left        :0;
    height      :1em;
    background  : -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
    background  : -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background  : -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);
    background  : -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);
    background  : -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);
    background  : linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%);
    filter      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
/*====================================================================================================================================*/
div[data-type-element="Group.Thumbnail.A.Members"]{
    position    :relative;
    height      :4.5em;
    width       :5em;
    padding     :0.5em;
    overflow    :hidden;
}
a[data-type-element="Group.Thumbnail.A.Member"]{
    position    :relative;
    display     :block;
    float       :left;
    width       :2em;
    height      :2em;
    margin      : 0 0.5em 0.5em 0;
}
img[data-type-element="Group.Thumbnail.A.Member"]{
    position    :relative;
    display     :block;
    width       :2em;
    height      :2em;
}
/*====================================================================================================================================*/
div[data-type-element="Group.Thumbnail.A.Info"]{
    position    :absolute;
    top         :0.5em;
    left        :6em;
    right       :0;
    height      :5.5em;
    overflow    :hidden;
}
a[data-type-element="Group.Thumbnail.A.Name"]{
    position            :relative;
    display             :block;
    font-family         :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size           :0.8em;
    padding             :0.5em 0.5em 0.3em 0.5em;
    margin              :0;
    color               :rgb(100,100,100);
    line-height         :1em;
    cursor              :pointer;
    text-align          :center;
    text-decoration     :none;
}
a[data-type-element="Group.Thumbnail.A.Name"]:hover{
    color               :rgb(30,30,30);
}
a[data-type-element="Group.Thumbnail.A.Members"]{
    position            :relative;
    display             :block;
    font-family         :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size           :0.7em;
    padding             :0.3em;
    margin              :0;
    color               :rgb(100,100,100);
    line-height         :1em;
    cursor              :pointer;
    text-align          :center;
    text-decoration     :none;
}
/*====================================================================================================================================*/
/*====================================================================================================================================*/
/*====================================================================================================================================*/
