article[data-custom-element="Pure.Posts.Thumbnail.DMini.Container"]{
    position    : relative;
    width       : 25em;
    /*box-shadow  : 0 0 0.3em rgba(0,0,0,0.4);*/
    margin      : 1em 0.5em;
    border      : solid 1px rgba(0,0,0,0.2);
    box-sizing  : border-box;
}
/*===EVENT============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Event.Image"] {
    position                    : relative;
    width                       : 100%;
    height                      : 10em;
    -moz-background-clip        : border-box;
    -webkit-background-clip     : border-box;
    background-clip             : border-box;
    background-size             :cover;
    background-repeat           :no-repeat;
    background-position         : center;
}
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Event.Image"]:after{
        position    :absolute;
        content     :'';
        top         :0;
        left        :0;
        width       :100%;
        height      :100%;
        background  :rgba(0,0,0,0.4);
    }
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Event.Info"]{
    position:absolute;
    width   :100%;
    height  :10em;
    top     :0;
    left    :0;
    overflow:hidden;
}
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Event.Date"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :2em;
        color       :rgb(255,255,255);
        padding     :0.1em;
        margin      :0;
        text-align  : left;
    }
        span[data-element-type="Event.Day"]{
        }
        sup[data-element-type="Event.Date"]{
            font-size       :0.4em;
            text-transform  :uppercase;
            padding         : 0 0 0 0.5em;
        }
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Event.Name"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :1em;
        color       :rgb(255,255,255);
        padding     :0em 1em 0em 1em;
        margin      :1em 0 0 0;
        text-align  : left;
        white-space :nowrap;
    }
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Event.Place"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :0.8em;
        color       :rgb(200,200,200);
        padding     :0.5em 1em 0.5em 1.1em;
        margin      :0;
        text-align  :right;
    }
/*===============================================================================================*/
p[data-element-type="Pure.Posts.Thumbnail.DMini.Statistic"]{
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size   :0.8em;
    color       :rgb(200,200,200);
    padding     :0.5em 1em 0.5em 1em;
    margin      :0;
    text-align  :left;
    white-space :nowrap;
}
/*===============================================================================================*/
p[data-element-type="Pure.Posts.Thumbnail.DMini.Excerpt"]{
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size   :0.9em;
    padding     :0.5em 1em 0.5em 1em;
    margin      :0;
    line-height :1.5em;
    color       :rgb(40,40,40);
    text-align  : left;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Controls"]{
    position:relative;
    width   :100%;
    padding : 0.5em 0;
}
    a[data-element-type="Pure.Posts.Thumbnail.DMini.Button"]{
        position                    :relative;
        display                     :block;
        font-family                 :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size                   :0.9em;
        padding                     :0.2em 1em 0.2em 1em;
        margin                      :0 0.5em 0 0.5em;
        line-height                 :1.5em;
        color                       :rgba(40,40,40,0.4);
        border                      : thin solid rgba(0,0,0,0);
        border-radius               :0.3em;
        text-decoration             :none;
        cursor                      :pointer;
        right                       : 0;
        background                  :rgba(255,255,255,1);
        -moz-transition             : all ease-in-out 150ms;
        -o-transition               : all ease-in-out 150ms;
        -webkit-transition          : all ease-in-out 150ms;
        transition                  : all ease-in-out 150ms;
        float: right;
    }
        a[data-element-type="Pure.Posts.Thumbnail.DMini.Button"]:hover{
            border          : thin solid rgba(0,0,0,0.4);
            color           :rgba(40,40,40,1);
        }
div[data-element-type="Pure.Posts.Thumbnail.DMini.ResetFloat"]{
    position: relative;
    float   : none;
    clear   : both;
}
/*===POST WITH MINIATURE============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Miniature"]{
    position                    : relative;
    width                       : 100%;
    height                      : 10em;
    -moz-background-clip        : border-box;
    -webkit-background-clip     : border-box;
    background-clip             : border-box;
    background-size             :cover;
    background-repeat           :no-repeat;
    background-position         : center;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Miniature.Info"]{
    position    :absolute;
    height      :10em;
    top         :0;
    left        :-0.5em;
    right       :-0.5em;
    overflow    :hidden;
}
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Miniature.Name"]{
        position    :absolute;
        width       :auto;
        max-width   : 100%;
        height      :auto;
        bottom      :0.5em;
        left        :-0.5em;
        background  :rgba(0,0,0,0.4);
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :1em;
        color       :rgb(255,255,255);
        padding     :0.5em 1em 0.5em 0.8em;
        margin      :0;
        text-align  : left;
    }
    a[data-element-type="Pure.Posts.Thumbnail.DMini.Miniature.Category"]{
        position        :absolute;
        width           :auto;
        max-width       : 100%;
        height          :auto;
        top             :0.5em;
        right           :-0.5em;
        background      :rgba(0,0,0,0.4);
        font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size       :0.8em;
        color           :rgb(255,255,255);
        padding         :0.5em 1em 0.5em 1em;
        margin          :0;
        text-decoration :none;
        cursor          :pointer;
        text-transform  :uppercase;
    }
        a[data-element-type="Pure.Posts.Thumbnail.DMini.Miniature.Category"]:hover{
            text-decoration :underline;
        }
/*===POST WITHOUT MINIATURE============================================================================================*/
a[data-element-type="Pure.Posts.Thumbnail.DMini.Post.Category"]{
    position        :relative;
    display         :block;
    font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size       :0.8em;
    color           :rgb(60,60,60);
    padding         :0.5em 0em 0.5em 0em;
    margin          :0 1em 0 0;
    text-decoration :none;
    cursor          :pointer;
    text-transform  :uppercase;
    text-align      :right;
}
    a[data-element-type="Pure.Posts.Thumbnail.DMini.Post.Category"]:hover {
        text-decoration :underline;
    }
p[data-element-type="Pure.Posts.Thumbnail.DMini.Post.Name"]{
    position    :relative;
    display     :block;
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size   :1em;
    color       :rgb(20,20,20);
    padding     :0.5em 1em 0.5em 0.5em;
    margin      :0;
    text-align  : left;
}
/*===POST WITH IMAGES============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery"]{
    position    :relative;
    width       : 100%;
    height      : 15em;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Item"]{
    position                    :relative;
    height                      : 15em;
    -moz-background-clip        : border-box;
    -webkit-background-clip     : border-box;
    background-clip             : border-box;
    background-size             :cover;
    background-repeat           :no-repeat;
    background-position         : center;
}
/*===============================================================================================*/
p[data-element-type="Pure.Posts.Thumbnail.DMini.Gallery.Name"]{
    position    :relative;
    display     :block;
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size   :1em;
    color       :rgb(20,20,20);
    padding     :0.5em 1em 0.5em 0.8em;
    margin      :0;
    text-align  : left;
}
    a[data-element-type="Pure.Posts.Thumbnail.DMini.Gallery.Category"]{
        position        :absolute;
        width           :auto;
        max-width       : 100%;
        height          :auto;
        top             :0.5em;
        right           :-0.5em;
        background      :rgba(0,0,0,0.4);
        font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size       :0.8em;
        color           :rgb(255,255,255);
        padding         :0.5em 1em 0.5em 1em;
        margin          :0;
        text-decoration :none;
        cursor          :pointer;
        text-transform  :uppercase;
    }
        a[data-element-type="Pure.Posts.Thumbnail.DMini.Gallery.Category"]:hover{
            text-decoration :underline;
        }
/*===============================================================================================*/
p[data-element-type="Pure.Posts.Thumbnail.DMini.Statistic"][data-addition-type="Left"]{
    float       :left;
    text-align  :left;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls"]{
    position    :absolute;
    width       : 100%;
    height      : 15em;
    top         :0;
    left        :0;
    overflow    :hidden;
}
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Left"]{
    position                    :absolute;
    left                        :-2em;
    top                         :5.5em;
    height                      :4em;
    width                       :2em;
    background                  :rgba(0,0,0,0.4);
    border-top-right-radius     :0.5em;
    border-bottom-right-radius  :0.5em;
    -moz-transition             : all ease-in-out 150ms; 
    -o-transition               : all ease-in-out 150ms;
    -webkit-transition          : all ease-in-out 150ms;
    transition                  : all ease-in-out 150ms;
}
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Left"]:after{
        position        :absolute;
        content         :'';
        top             :1.5em;
        left            :0.5em;
        width           : 0;
        height          : 0;
        border-top      : 0.5em solid transparent;
        border-right    : 1em solid rgba(255,255,255,0.4);
        border-bottom   : 0.5em solid transparent;
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Left"]:hover:after {
        border-right    : 1em solid rgba(255,255,255,1);
    }
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Right"]{
    position                    :absolute;
    left                        :100%;
    margin-left                 :0em;
    top                         :5.5em;
    height                      :4em;
    width                       :2em;
    background                  :rgba(0,0,0,0.4);
    border-top-left-radius     :0.5em;
    border-bottom-left-radius  :0.5em;
    -moz-transition             : all ease-in-out 150ms; 
    -o-transition               : all ease-in-out 150ms;
    -webkit-transition          : all ease-in-out 150ms;
    transition                  : all ease-in-out 150ms;
}
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Right"]:after{
        position        :absolute;
        content         :'';
        top             :1.5em;
        left            :0.5em;
        width           : 0;
        height          : 0;
        border-top      : 0.5em solid transparent;
        border-left     : 1em solid rgba(255,255,255,0.4);
        border-bottom   : 0.5em solid transparent;
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Right"]:hover:after {
        border-left     : 1em solid rgba(255,255,255,1);
    }
/*===============================================================================================*/
article[data-custom-element="Pure.Posts.Thumbnail.DMini.Container"][data-post-type="PostGallery"]:hover div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Left"]{
    left        :0em;
}
article[data-custom-element="Pure.Posts.Thumbnail.DMini.Container"][data-post-type="PostGallery"]:hover div[data-custom-element="Pure.Posts.Thumbnail.DMini.Gallery.Controlls.Right"]{
    margin-left :-2em;
}
/*===POST WITH VIDEO============================================================================================*/
article[data-custom-element="Pure.Posts.Thumbnail.DMini.Container"][data-post-type="PostVideo"]{
    overflow: hidden;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video"]{
    position    :relative;
    width       : 100%;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Item"]{
    position                    :relative;
    -moz-background-clip        : border-box;
    -webkit-background-clip     : border-box;
    background-clip             : border-box;
    background-size             :cover;
    background-repeat           :no-repeat;
}
p[data-element-type="Pure.Posts.Thumbnail.DMini.Video.Name"]{
    position    :relative;
    display     :block;
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size   :1em;
    color       :rgb(20,20,20);
    padding     :0.5em 1em 0.5em 0.8em;
    margin      :0 0 0.5em 0;
    text-align  : left;
}
    a[data-element-type="Pure.Posts.Thumbnail.DMini.Video.Category"]{
        position        :absolute;
        width           :auto;
        max-width       : 100%;
        height          :auto;
        top             :0.5em;
        left            :-0.5em;
        background      :rgba(0,0,0,0.4);
        font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size       :0.8em;
        color           :rgb(255,255,255);
        padding         :0.5em 1em 0.5em 1em;
        margin          :0;
        text-decoration :none;
        cursor          :pointer;
        text-transform  :uppercase;
    }
        a[data-element-type="Pure.Posts.Thumbnail.DMini.Video.Category"]:hover{
            text-decoration :underline;
        }
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Left"]{
    position                    :absolute;
    left                        :-2em;
    top                         :5.5em;
    height                      :4em;
    width                       :2em;
    background                  :rgba(0,0,0,0.4);
    border-top-right-radius     :0.5em;
    border-bottom-right-radius  :0.5em;
    -moz-transition             : all ease-in-out 150ms;
    -o-transition               : all ease-in-out 150ms;
    -webkit-transition          : all ease-in-out 150ms;
    transition                  : all ease-in-out 150ms;
}
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Left"]:after{
        position        :absolute;
        content         :'';
        top             :1.5em;
        left            :0.5em;
        width           : 0;
        height          : 0;
        border-top      : 0.5em solid transparent;
        border-right    : 1em solid rgba(255,255,255,0.4);
        border-bottom   : 0.5em solid transparent;
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Left"]:hover:after {
        border-right    : 1em solid rgba(255,255,255,1);
    }
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Right"]{
    position                    :absolute;
    left                        :100%;
    margin-left                 :0em;
    top                         :5.5em;
    height                      :4em;
    width                       :2em;
    background                  :rgba(0,0,0,0.4);
    border-top-left-radius     :0.5em;
    border-bottom-left-radius  :0.5em;
    -moz-transition             : all ease-in-out 150ms;
    -o-transition               : all ease-in-out 150ms;
    -webkit-transition          : all ease-in-out 150ms;
    transition                  : all ease-in-out 150ms;
}
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Right"]:after{
        position        :absolute;
        content         :'';
        top             :1.5em;
        left            :0.5em;
        width           : 0;
        height          : 0;
        border-top      : 0.5em solid transparent;
        border-left     : 1em solid rgba(255,255,255,0.4);
        border-bottom   : 0.5em solid transparent;
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Right"]:hover:after {
        border-left     : 1em solid rgba(255,255,255,1);
    }
/*===============================================================================================*/
article[data-custom-element="Pure.Posts.Thumbnail.DMini.Container"][data-post-type="PostVideo"]:hover div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Left"]{
    left        :0em;
}
article[data-custom-element="Pure.Posts.Thumbnail.DMini.Container"][data-post-type="PostVideo"]:hover div[data-custom-element="Pure.Posts.Thumbnail.DMini.Video.Controlls.Right"]{
    margin-left :-2em;
}
/*===POST WITH AUDIO============================================================================================*/
p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"]{
    position    :relative;
    display     :block;
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size   :1em;
    color       :rgb(255,255,255);
    background  :rgba(0,0,0,0.4);
    padding     :0.5em 1em 0.5em 1.5em;
    margin      :0;
    text-align  : left;
}
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"]:after{
        position    :absolute;
        display     :block;
        content     :'';
        top         :0;
        left        :0em;
        width       :0.5em;
        height      :100%;
    }
        p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"][data-post-mark="Clear"]:after{
        }
        p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"][data-post-mark="Standart"]:after{
            background  :rgba(0,0,0,0.8);
        }
        p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"][data-post-mark="Green"]:after{
            background  :rgba(0,255,0,0.8);
        }
        p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"][data-post-mark="Blue"]:after{
            background  :rgba(0,0,255,0.8);
        }
        p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Name"][data-post-mark="Red"]:after{
            background  :rgba(255,0,0,0.8);
        }
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audios"]{
    position    :relative;
    width       :100%;
    height      :7em;
    overflow    :hidden;
}
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audios"]:after{
        position    :absolute;
        content     :'';
        width       :100%;
        height      :1em;
        bottom      :0;
        left        :0;
        background  : -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background  : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
        background  : -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background  : -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background  : -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background  : linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Track.Name"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :0.9em;
        color       :rgb(50,50,50);
        padding     :0.5em 1em 0.5em 1.5em;
        margin      :0;
        text-align  : left;
    }
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Track.Info"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :0.8em;
        color       :rgb(100,100,100);
        padding     :0 1em 0 3em;
        margin      :0;
        text-align  : left;
    }
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls"]{
    position:relative;
    width   :100%;
    margin  : 0.5em 0 0.5em 0;
}
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Basic"]{
    position:relative;
    width   :100%;
    height  :3em;
    margin  : 0.5em 0 0.5em 0;
}
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Time"]{
    position            :absolute;
    width               :3em;
    height              :2em;
    border              :1px solid rgba(0,0,0,0);
    top                 :0.5em;
    left                :50%;
    margin-left         :-8.5em;
    -moz-transition     : all ease-in-out 250ms; 
    -o-transition       : all ease-in-out 250ms;
    -webkit-transition  : all ease-in-out 250ms;
    transition          : all ease-in-out 250ms;
    opacity             :0.01;
}
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Track.Time.Position"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :0.7em;
        color       :rgb(150,150,150);
        padding     :0;
        margin      :0;
        text-align  :center;
        text-align  : left;
    }
    p[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Track.Time.Total"]{
        font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
        font-size   :0.7em;
        color       :rgb(150,150,150);
        padding     :0;
        margin      :0;
        text-align  :center;
        text-align  : left;
    }
/*===============================================================================================*/
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Left"]{
        position        :absolute;
        width           :2em;
        height          :2em;
        border-radius   :1em;
        border          :1px solid rgba(0,0,0,0.1);
        top             :0.5em;
        left            :50%;
        margin-left     :-4.5em;
        background      : rgba(0,0,0,0);
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Left"]:before {
            position        :absolute;
            content         :'';
            top             :0.5em;
            left            :0.4em;
            width           : 1em;
            height          : 1em;
            background-size : contain;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAFzUkdCAK7OHOkAAAAEZ0FNQQAAsY8L/GEFAAAACXBIWXMAAADoAAAA6AGG1favAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAXlJREFUWEftl79KxEAQhxNPRQv/lNrJ4RNoKz6F1RVa+BzaWwi+xV1hJaJvIGgrCPZiIYI2FloYvzWzub3cbC57zSD4g4/NTua3DGSS3eRFUWSWmpHRTH+zgDzPZ2FVplMJ/wrMJxeAaZ3hBt647v0GE4SnA2dcvsN55pqwLWgbnsBNHH0tLwZahmvxlmiJGmgPPipjyUDL1UBdeBDfEC25DjqG78o0pFUBaBdexTOKZvCgRehXyeNMLAAdwpfkj6OZHMg1212VqBMtALkGP5W8OBHzFoTNFkMtAC3BpeQ0o5i1ZosxVgDagHu5P5ma+Qi0ZosxUgDagRe51w4xLkBTs8WoCkAH8CnxFLI1uA0CKQwgh5Mglkp2VQuk4ArYr8WSMN8NnWwfgXkT+gVkEZvXsLaI3YcoWMTuU+xBdpuRB9ltxyHI5kASguyOZB5kdyj1oLA5e1pOE6gD7ljuJhdT/Rtyrp9j6OJ9LCPpYo1Nhuf/n1PjArLsB23fk8tmbDjiAAAAAElFTkSuQmCC");
            opacity         : 0.2;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Left"]:hover:before {
            opacity         : 1;
        }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Left"]:hover{
        border          :1px solid rgba(0,0,0,0.3);
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"]{
        position        :absolute;
        width           :3em;
        height          :3em;
        border-radius   :1.5em;
        border          :1px solid rgba(0,0,0,0.1);
        top             :0;
        left            :50%;
        margin-left     :-1.5em;
        background      : rgba(0,0,0,0);
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"]:hover{
            border          :1px solid rgba(0,0,0,0.3);
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"][data-type-AudioPlayer-state="play"]:after{
            position        :absolute;
            content         :'';
            top             :0.75em;
            left            :0.85em;
            width           : 1.5em;
            height          : 1.5em;
            background-size : contain;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAEwAAABMAGW7EZ5AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAF1QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA10AP0gAAAB50Uk5TAAIEBxAbKTo9TU5kZWd7fIeIk6qyv8LH0eDl7PX7pc5xggAAAH5JREFUOMul0zcCwjAQRNG1ydGBjPG//zHphdlfWPUrpNFMRETU9/cxsnMCLssEdACvjQDGpsoB3FYCGPYCoF8I4LkWwOcgYCqSAvxGUgLGc5WDMpIJwLATAK0BtnNBO++S8kwLyqKWz7LvtsJI5ay0UnsbTjY9HW99ffyd/xc6/TE2WMzpGwAAAABJRU5ErkJggg==");
            opacity         : 0.2;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"][data-type-AudioPlayer-state="play"]:hover:after{
            opacity: 1;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"][data-type-AudioPlayer-state="pause"]:before{
            position        :absolute;
            content         :'';
            top             :0.75em;
            left            :0.75em;
            width           : 1.5em;
            height          : 1.5em;
            background-size : contain;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAE+AAABPgEyZQqHAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAABJQTFRF////AAAAAAAAAAAAAAAAAAAAZJzAmgAAAAV0Uk5TAAgYw9Kd4OvjAAAAK0lEQVQoU2NgYGAODQ0RYGBgdA0NNWAAAdbQ0FAFBgYmIBUwKjDSBFCTAwDT5k4ZnDj0HQAAAABJRU5ErkJggg==");
            opacity         : 0.2;
        }
            div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"][data-type-AudioPlayer-state="pause"]:hover:after{
                border          :1px solid rgba(0,0,0,0.3);
            }
            div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Play"][data-type-AudioPlayer-state="pause"]:hover:before{
                opacity         : 1;
            }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Right"]{
        position        :absolute;
        width           :2em;
        height          :2em;
        border-radius   :1em;
        border          :1px solid rgba(0,0,0,0.1);
        top             :0.5em;
        left            :50%;
        margin-left     :2.5em;
        background      : rgba(0,0,0,0);
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Right"]:before {
            position        :absolute;
            content         :'';
            top             :0.5em;
            left            :0.6em;
            width           : 1em;
            height          : 1em;
            background-size : contain;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA6AAAAOgBhtX2rwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEYSURBVFiF1daxKodhFMfxzyFCkZFNUnZWuQqTgcF1sBuUu2CWuAZW5QpMsigGkmPx1j8l3ucdDqd+4+8835739z7nRGaqrLHS0/8EQETMRMTKkCYRsRoRE63+MySOMZ6Z+gjbn/5rLDb45YguMdezwcmI/w7rQwASt1ju0eD0i/8ZW0MAEg/YbARIvONgCEDiFXuNAJ1OMN0K0OkIY40AP4bzNwCJc8w2AnThXBsCkLjBUiPAt+HsA5C4x0YjQBfO/SEAiRfsNgKMhnOqFaDTIaIRIHGFhSEAiZ0BAImL8mnIP/wEpSEs/Q1LH6LSp7hsGJWO49KFpHQlK1lKS9fywORnUB41VkTM4ykz33p7u2uoqvJpWA7wAaVx3MICxwNIAAAAAElFTkSuQmCC");
            opacity         : 0.2;
        }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Right"]:hover{
        border          :1px solid rgba(0,0,0,0.3);
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Right"]:hover:before {
            opacity         : 1;
        }
/*===============================================================================================*/
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]{
        position            :absolute;
        width               :2em;
        height              :2em;
        border-radius       :1em;
        border              :1px solid rgba(0,0,0,0);
        top                 :0.5em;
        left                :50%;
        margin-left         :5.5em;
        -moz-transition     : all ease-in-out 250ms; 
        -o-transition       : all ease-in-out 250ms;
        -webkit-transition  : all ease-in-out 250ms;
        transition          : all ease-in-out 250ms;
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:hover{
            position        :absolute;
            width           :2em;
            height          :2em;
            border-radius   :1em;
            border          :1px solid rgba(0,0,0,0.4);
            top             :0.5em;
            left            :50%;
            margin-left     :5.5em;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:before {
            position        :absolute;
            content         :'';
            top             :0.7em;
            left            :0.6em;
            width           : 0;
            height          : 0;
            border-left     : 0.4em solid transparent;
            border-right    : 0.4em solid transparent;
            border-top      : 0.6em solid rgba(0,0,0,0.2);
        }
            div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:hover:before{
                border-top      : 0.6em solid rgba(0,0,0,1);
            }
/*===============================================================================================*/
div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Addition"]{
    position:relative;
    width   :100%;
}
/*===============================================================================================*/
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Volume.Container"]{
        position            :relative;
        width               :100%;
        height              :0;
        -moz-transition     : all ease-in-out 250ms; 
        -o-transition       : all ease-in-out 250ms;
        -webkit-transition  : all ease-in-out 250ms;
        transition          : all ease-in-out 250ms;
        opacity             :0.01;
        overflow            :hidden;
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Volume.Line"]{
        position        :absolute;
        top             :0.6em;
        left            :2em;
        right           :2em;
        height          :0.3em;
        border-radius   :0.3em;
        background      :rgba(0,0,0,0.1);
        box-shadow      : 0 0 2px rgba(0,0,0,0.4) inset;
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Volume.Peak"]{
            position                    :absolute;
            top                         :0;
            width                       :0%;
            height                      :100%;
            border-top-left-radius      :0.3em;
            border-bottom-left-radius   :0.3em;
            background                  :rgba(0,0,0,1);
            -moz-transition             : all ease-in-out 50ms;
            -o-transition               : all ease-in-out 50ms;
            -webkit-transition          : all ease-in-out 50ms;
            transition                  : all ease-in-out 50ms;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Volume.Progress"]{
            position                    :absolute;
            top                         :0;
            width                       :40%;
            height                      :100%;
            border-top-left-radius      :0.3em;
            border-bottom-left-radius   :0.3em;
            background                  : rgb(184,225,252);
            background                  : -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%);
            background                  : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1)));
            background                  : -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
            background                  : -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
            background                  : -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
            background                  : linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
            filter                      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 );
            border                      :1px solid rgba(0,0,0,0.2);
            -moz-box-sizing             : border-box;
            -webkit-box-sizing          : border-box;
            box-sizing                  : border-box;
            opacity                     : 0.8;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Volume.Pointer"]{
            position            :absolute;
            top                 :0;
            left                :40%;
            height              :1em;
            width               : 1em;
            border-radius       : 0.5em;
            margin-top          : -0.4em;
            margin-left         : -0.4em;
            border              : 1px solid rgba(0,0,0,0.4);
            -moz-box-sizing     : border-box;
            -webkit-box-sizing  : border-box;
            box-sizing          : border-box;
            background          : rgb(238,238,238);
            background          : -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
            background          : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
            background          : -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
            background          : -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
            background          : -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
            background          : linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
            filter              : progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
            box-shadow          : 0 0 1px rgba(0,0,0,0.4);
        }
/*===============================================================================================*/
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Progress.Container"]{
        position            :relative;
        width               :100%;
        height              :0;
        -moz-transition     : all ease-in-out 250ms; 
        -o-transition       : all ease-in-out 250ms;
        -webkit-transition  : all ease-in-out 250ms;
        transition          : all ease-in-out 250ms;
        opacity             :0.01;
        overflow            :hidden;
    }
    div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Progress.Line"]{
        position        :absolute;
        top             :0.6em;
        left            :2em;
        right           :2em;
        height          :0.6em;
        border-radius   :0.3em;
        background      :rgba(0,0,0,0.1);
        box-shadow      : 0 0 2px rgba(0,0,0,0.4) inset;
    }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Progress.Cache"]{
            position                    :absolute;
            top                         :0;
            width                       :0%;
            height                      :100%;
            border-top-left-radius      :0.3em;
            border-bottom-left-radius   :0.3em;
            background                  :rgba(0,0,0,0.3);
            -moz-transition             : all ease-in-out 250ms;
            -o-transition               : all ease-in-out 250ms;
            -webkit-transition          : all ease-in-out 250ms;
            transition                  : all ease-in-out 250ms;
        }
        div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Progress.Current"]{
            position                    :absolute;
            top                         :0;
            width                       :40%;
            height                      :100%;
            border-top-left-radius      :0.3em;
            border-bottom-left-radius   :0.3em;
            background                  : rgb(242,246,248);
            background                  : -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
            background                  : -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1)));
            background                  : -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
            background                  : -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
            background                  : -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
            background                  : linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
            filter                      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
            border                      :1px solid rgba(0,0,0,0.4);
            -moz-box-sizing             : border-box;
            -webkit-box-sizing          : border-box;
            box-sizing                  : border-box;
            /*
            -moz-transition             : all ease-in-out 250ms;
            -o-transition               : all ease-in-out 250ms;
            -webkit-transition          : all ease-in-out 250ms;
            transition                  : all ease-in-out 250ms;
            */
        }
/*===============================================================================================*/
input[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]{
    display:none;
}
    input[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:checked ~div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Basic"] div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Time"] {
        opacity:1;
    }
    input[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:checked ~div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Basic"] div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"] {
        -moz-transform      : rotateZ(180deg);
        -ms-transform       : rotateZ(180deg);
        -o-transform        : rotateZ(180deg);
        -webkit-transform   : rotateZ(180deg);
        transform           : rotateZ(180deg);
    }
    input[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:checked ~div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Addition"] div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Volume.Container"]{
        height      :1.4em;
        opacity     :1;
    }
    input[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.More"]:checked ~div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Addition"] div[data-custom-element="Pure.Posts.Thumbnail.DMini.Audio.Controlls.Progress.Container"]{
        height      :2em;
        opacity     :1;
    }
/*===============================================================================================*/
a[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Category"]{
    position        :relative;
    display         :block;
    font-family     :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size       :0.8em;
    color           :rgb(60,60,60);
    padding         :0.5em 0em 0.5em 0em;
    margin          :0 1em 0 0;
    text-decoration :none;
    cursor          :pointer;
    text-transform  :uppercase;
    text-align      :right;
}
    a[data-element-type="Pure.Posts.Thumbnail.DMini.Audio.Category"]:hover {
        text-decoration :underline;
    }
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
/*===============================================================================================*/
