/*====================================================================================================================================*/
div[data-element-type="ProgressBar.B.Container"]{
    position            :absolute;
    display             : block;
    top                 :0;
    left                :0;
    width               :100%;
    height              :100%;
    margin              :0;
    background          : rgba(255,255,255,0.4);
    overflow            : hidden;
}
div[data-element-type="ProgressBar.B.Particle"]{
    position            :absolute;
    display             : block;
    width               :2.5em;
    height              :2.5em;
    border-radius       :1.25em;
    top                 :50%;
    left                :0;
    margin              : -1.25em 0 0;
    opacity             :0;
    animation			: B_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    -webkit-animation	: B_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    -moz-animation		: B_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    -o-animation		: B_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
}
    div[data-element-type="ProgressBar.B.Particle"]:after{
        position        : absolute;
        content         : '';
        width           : 4px;
        height          : 4px;
        border-radius   : 2px;
        background      : rgb(0,255,0);
        box-shadow      : 0 0 1px rgba(0,0,0,0.4);
        bottom          : 0;
        top             :50%;
        margin-top      : -2px;
    }
div[data-element-type="ProgressBar.B.Particle"][data-addition-type="0"] {
    -moz-animation-delay    : 0ms;
    -o-animation-delay      : 0ms;
    -webkit-animation-delay : 0ms;
    animation-delay         : 0ms;
}
div[data-element-type="ProgressBar.B.Particle"][data-addition-type="1"] {
    -moz-animation-delay    : 200ms;
    -o-animation-delay      : 200ms;
    -webkit-animation-delay : 200ms;
    animation-delay         : 200ms;
}
div[data-element-type="ProgressBar.B.Particle"][data-addition-type="2"] {
    -moz-animation-delay    : 400ms;
    -o-animation-delay      : 400ms;
    -webkit-animation-delay : 400ms;
    animation-delay         : 400ms;
}
div[data-element-type="ProgressBar.B.Particle"][data-addition-type="3"] {
    -moz-animation-delay    : 600ms;
    -o-animation-delay      : 600ms;
    -webkit-animation-delay : 600ms;
    animation-delay         : 600ms;
}
div[data-element-type="ProgressBar.B.Particle"][data-addition-type="4"] {
    -moz-animation-delay    : 800ms;
    -o-animation-delay      : 800ms;
    -webkit-animation-delay : 800ms;
    animation-delay         : 800ms;
}
div[data-element-type="ProgressBar.B.Particle"][data-addition-type="5"] {
    -moz-animation-delay    : 1000ms;
    -o-animation-delay      : 1000ms;
    -webkit-animation-delay : 1000ms;
    animation-delay         : 1000ms;
}
@keyframes B_ProgressBar_Particle_Move {
    0% {
        left    : 0;
        opacity : 0;
    }
    50% {
        opacity :1;
    }
    100% {
        left    : 100%;
        opacity :0;
    }
}
@-moz-keyframes B_ProgressBar_Particle_Move {
    0% {
        left    :0;
        opacity :0;
    }
    50% {
        opacity :1;
    }
    100% {
        left    : 100%;
        opacity :0;
    }
}
@-webkit-keyframes B_ProgressBar_Particle_Move {
    0% {
        left    :0;
        opacity :0;
    }
    50% {
        opacity :1;
    }
    100% {
        left    : 100%;
        opacity :0;
    }
}
