/*====================================================================================================================================*/
div[data-element-type="ProgressBar.D.Container"]{
    position            :relative;
    width               :100%;
    height              :5px;
    margin              : 0.5em 0 0.5em 0;
}
div[data-element-type="ProgressBar.D.Particle"]{
    position            :absolute;
    width               :5px;
    height              :5px;
    opacity             :0;
    background          :rgb(0,255,0);
    border-radius       :2px;
    animation			: Author_Thumbnail_D_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    -webkit-animation	: Author_Thumbnail_D_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    -moz-animation		: Author_Thumbnail_D_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    -o-animation		: Author_Thumbnail_D_ProgressBar_Particle_Move 2050ms cubic-bezier(.65,.95,.41,.13) 0ms infinite normal;
    box-shadow          : 0 0 4px rgba(0,0,0,0.4);
}
div[data-element-type="ProgressBar.D.Particle"][data-addition-type="0"] {
    -moz-animation-delay    : 0ms;
    -o-animation-delay      : 0ms;
    -webkit-animation-delay : 0ms;
    animation-delay         : 0ms;
}
div[data-element-type="ProgressBar.D.Particle"][data-addition-type="1"] {
    -moz-animation-delay    : 200ms;
    -o-animation-delay      : 200ms;
    -webkit-animation-delay : 200ms;
    animation-delay         : 200ms;
}
div[data-element-type="ProgressBar.D.Particle"][data-addition-type="2"] {
    -moz-animation-delay    : 400ms;
    -o-animation-delay      : 400ms;
    -webkit-animation-delay : 400ms;
    animation-delay         : 400ms;
}
div[data-element-type="ProgressBar.D.Particle"][data-addition-type="3"] {
    -moz-animation-delay    : 600ms;
    -o-animation-delay      : 600ms;
    -webkit-animation-delay : 600ms;
    animation-delay         : 600ms;
}
div[data-element-type="ProgressBar.D.Particle"][data-addition-type="4"] {
    -moz-animation-delay    : 800ms;
    -o-animation-delay      : 800ms;
    -webkit-animation-delay : 800ms;
    animation-delay         : 800ms;
}
div[data-element-type="ProgressBar.D.Particle"][data-addition-type="5"] {
    -moz-animation-delay    : 1000ms;
    -o-animation-delay      : 1000ms;
    -webkit-animation-delay : 1000ms;
    animation-delay         : 1000ms;
}
@keyframes Author_Thumbnail_D_ProgressBar_Particle_Move {
    0% { left:0;opacity:0;}50% { opacity:1;}100% { left:100%;opacity:0;}
}
@-moz-keyframes Author_Thumbnail_D_ProgressBar_Particle_Move {
    0% { left:0;opacity:0;}50% { opacity:1;}100% { left:100%;opacity:0;}
}
@-webkit-keyframes Author_Thumbnail_D_ProgressBar_Particle_Move {
    0% { left:0;opacity:0;}50% { opacity:1;}100% { left:100%;opacity:0;}
}
div[data-element-type="ProgressBar.D.Reset.Float"]{
    position: relative;
    clear: both;
}
